/* global.css or App.css or index.css */
body.dark-mode,
html.dark {
  background-color: #070708f4;
  color: white;
}

/* Example for generic elements */
html.dark div {
  background-color: #070708f4;
  color: white;
}
html.dark p {
  color: white;
}
html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: white;
} 
html.dark a {
  color: #fdfdfe;
  background-color: #070708f4;
}

html.dark input {
  background-color: #070708f4;
  color: white;
}

html.dark button {
  background-color: #070708f4;
  color: white;
}
html.dark textarea {
  background-color: #070708f4;
  color: white;
}
html.dark select {
  background-color: #070708f4;
  color: white;
}
html.dark label {
  color: white;
}
html.dark span {
  color: white;
}



/* Add any shared dark mode tweaks here */
